<h1>Goals</h1>

<p>
  <%= link_to "New Goal", new_goal_path %>
</p>

<% @goals.each do |goal| %>
  <h3><%= goal.activity %></h3>
  <p>Current: <%= format_resistance goal.current %></p>
  <p>Target: <%= goal.target %></p>
  <%= button_to("Delete", goal_path(goal.id), method: :delete) %>
<% end %>
